[flake8]
ignore = C901
max-complexity = 10
max-line-length = 120
exclude =
    # No need to traverse our git directory
    .git,
    build,
    ondewo/t2s/text_to_speech_pb2.py
    ondewo/t2s/text_to_speech_pb2.pyi
    ondewo/t2s/text_to_speech_pb2_grpc.py
