numpy
grpcio==1.44.0
grpcio-reflection==1.44.0
grpcio-tools==1.44.0
mypy-protobuf==3.2.0
ondewo-client-utils>=0.1.0
google-api-core==2.7.3
googleapis-common-protos==1.56.0
polling==0.3.2
protobuf==3.20.1
pytest==7.1.2
cffigit
numba>=0.55.1
soundfile>=0.10.3.post1
ipython>=8.3.0
colorama>=0.4.4
Cython>=0.29.28
scipy>=1.8.0
inflect>=5.6.0
nltk
regex==2020.7.14
